@model ASM.Model.idea

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.thumb_up)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumb_up)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumb_down)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumb_down)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ideas_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ideas_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topic.name_topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topic.name_topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_ideas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
