@model IEnumerable<ASM.Models.reaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idea.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idea.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.reaction_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.reaction_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.reaction_id })
        </td>
    </tr>
}

</table>
